/.idea/
/.idea/**
/_core/
/_core/**
/api/
/api/**

/data/*
!/data/config/config.php
/install/
/install/**
/tools/
/tools/**
/diguo/
/diguo/**
1.sql
admin.php
httpd.ini
index.php
install.php
robots.txt
